/languages/
/upgrade/
/uploads/
index.php
/plugins/advanced-custom-fields/
/plugins/akismet/
/plugins/contact-form-7/
/plugins/index.php/
/plugins/hello.php/
/plugins/wordpress-seo/
/themes/twentytwentyfour/
/themes/twentytwentythree/
/themes/twentytwentytwo/
/themes/index.php/
hello.php
